<div class="related">
  <h1 >Publicaciones relacionadas:</h1>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains mypost.url %}
        {% else %}
          <li>
            <h3>
              <a href="{{ site.github.url }}{{ mypost.url }}">
                {{ mypost.title }}

                <small style="font-size: 0.6em; color: #939EA7;">
                {{ mypost.date | date: "%d" }}
                {% assign m = mypost.date | date: "%-m" %}

                {% case m %}
                  {% when '1' %}Enero
                  {% when '2' %}Febrero
                  {% when '3' %}Marzo
                  {% when '4' %}Abril
                  {% when '5' %}Mayo
                  {% when '6' %}Junio
                  {% when '7' %}Julio
                  {% when '8' %}Agosto
                  {% when '9' %}Septiembre
                  {% when '10' %}Octubre
                  {% when '11' %}Noviembre
                  {% when '12' %}Diciembre
                {% endcase %}

                {{ mypost.date | date: "%Y" }}
                </small>

                <!-- <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ mypost.image.teaser }}"></a> -->
              </a>
            </h3>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
